@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nota-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.etiquetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.etiqueta-chip {
  display: inline-flex;
  align-items: center;
  background-color: #ddd;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.input,
.textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-color {
  width: 50px;
  height: 30px;
}

.btn-agregar {
  margin-left: 1rem;
}

.btn-crear {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-crear:hover {
  background-color: #45a049;
}
